<div class="row-fluid">
  <div class="span4 offset4 text-center">
    <h3>Sign up</h3>
    <br>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

       <div>
      <%= f.text_field :username, :autofocus => true, :placeholder => "Username" %></div>

      <div>
      <%= f.email_field :email, :placeholder => "E-Mail" %></div>

      <div>
      <%= f.password_field :password, :placeholder => "Password" %></div>

      <div>
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>

      <div><%= f.submit "Sign up", :class => "btn btn-huge btn-primary" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>