<a class="annotateClose">x</a>
<strong>Annotation:</strong>
<pre>
<%= annotation.escape('body') %>
</pre>
<% if (annotation.get('image_url')) { %>
	<img src="<%= annotation.escape('image_url') %>"></img>
<% } %>
<br>
<% var annotator = annotation.get('annotator') %>
Annotator: <a class="userLink" href="#/users/<%=annotator.id%>"><%= annotator.escape('username') %></a><br>
<strong>Rating: </strong>
<span class="rating"><%= annotation.escape('rating') %></span><br>
<a class="btn btn-mini btn-primary mhm vote like">Upvote</a>
<a class="btn btn-mini btn-danger mhm vote dislike">Downvote</a>