<h1><%= artist.escape('name') %></h1>
<% if (artist.get('bio')) { %>
	<%= artist.escape('bio') %>
<% } %>

<h3>Songs</h3>
<% songs = artist.get('songs').sortBy("title") %>
<ul>
	<% _(songs).each(function(song) { %>
	<li>
		<% var songHref = "#/songs/" + song.id %>
		<a href="<%= songHref %>"><%= song.escape('title') %></a>
	</li>
	<% }) %>
</ul>

<h3>Albums</h3>
<% artist.get('albums').each(function(album) { %>
<li>
	<% var albumHref = "#/albums/" + album.id %>
		<a href="<%= albumHref %>"><%= album.escape('title') %></a>
</li>
<% }) %>
<br>