<div class="annotationDiv alert alert-info">
</div>
<h3>
	<%= song.escape('title') %>
</h3>

<h4>
	<% var artistHref = "#/artists/" + artist.id %>
	<a href="<%= artistHref %>"><%= artist.escape('name') %></a>
</h4>

<% if (albums) { %>
<strong>Albums:</strong>
<ul>
	<% _(albums).each(function(album) { %>
	<li>
		<% var albumHref = "/#/albums/" + album.id %>
		<a href="<%= albumHref %>"><%= album.title %></a>
	</li>
	<% }); %>
</ul>
<% }; %>

<p><strong>Highlight text to annotate</strong></p>

<pre id="lyrics">
<%= song.escape('lyrics') %>
</pre>

<a href="/#/">Back</a>