<div class="row-fluid">
  <div class="span6 offset3 text-center">
    <h2>Versa</h2>
    <p><small>Versa is a hip-hop song player and lyric annotation web app.<br>
    Check out annotations others have left on lyrics, or leave your own.</small></p>
    <h4>Sign in</h4>
    <br>
    <a href="/guest" class="btn btn-large btn-primary">Try Out As Guest</a> 
    <a href="/users/auth/facebook" class="btn btn-large btn-info">
    <i class="fui-facebook"></i>
     via Facebook
    </a>
    <br>
    <br>
    <p>or manually...</p>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div>
      <%= f.text_field :username, :autofocus => true, :placeholder => "Username" %></div>

      <div>
      <%= f.password_field :password, :placeholder => "Password" %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign in", :class => "btn btn-huge btn-primary" %></div>
    <% end %>

    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>