<h1>New annotation</h1>
Artist: <%= @song.artist.name %><br>
Song: <%= @song.title %><br>

<form action="<%= annotations_url(@song) %>" method="post" enctype="multipart/form-data">
<input type="hidden" 
			 name="authenticity_token" 
			 value="<%= form_authenticity_token %>">

<label for="annotation_start_char">Start Char:</label>
<input type="text" 
			 name="annotation[start_char]" 
			 id="annotation_start_char"><br>

<label for="annotation_end_char">End Char:</label>
<input type="text"
			 name="annotation[end_char]"
			 id="annotation_end_char"><br>

<label for="annotation_body">Annotation:</label>
<textarea name="annotation[body]" id="annotation_body"></textarea>
<input type="submit" value="Submit Annotation">
</form>

<%= link_to "Back to song", song_url(@song) %>