<script type="text/javascript">
	var annotationID = <%= @annotation.id %>
</script>
<a class="annotateClose">x</a>
<h3>Song: <%= @song.artist.name %> - <%= @song.title %></h3><br>
<strong>Lyric Snippet:</strong><br>
<pre>
<%= @song.lyrics.gsub(/\r/,"")[@annotation.start_char..@annotation.end_char] %>
</pre>
<strong>Annotation:</strong>
<pre>
<%= @annotation.body %>
</pre>
Annotator: <%= @annotation.annotator.username %><br>
<strong>Rating: </strong><span class="rating"><%= @annotation.rating %></span>
<button class="vote like">Like</button>
<button class="vote dislike">Dislike</button>