<h1><%= album.escape('title') %></h1>
<% var artist = album.get('artist') %>
<% var artistHref = "/#/artists/" + artist.id %>
<strong> by <a href="<%= artistHref %>"><%= artist.escape('name') %></a>
	<% if (album.escape('year')) { %>
	"(<%= album.escape('year') %>)"
	<% } %>
</strong>
<br>
<ol>
<% album.tracks.each(function (track) { %>
	<li>
		<% var trackHref = "/#/songs/" + track.id %>
		<a href="<%= trackHref %>"><%= track.escape('title') %></a>
	</li>
<% }) %>
</ol>
<a href="<%= artistHref %>">Back to <%= artist.escape('name') %></a>