<!DOCTYPE html>
<html>
<head>
  <title>Versa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
<div class="notice"><%= notice %></div>
<% end %>
<% if alert %>
<div class="alert"><%= alert %></div>
<% end %>
<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#">VERSA</a>
			<ul class="nav">
				<li><a href="#/artists/">Artists</a></li>
				<li><a href="#/songs/">Songs</a></li>
				<li><a href="#/users/">Users</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid" style="padding-bottom: 80px">
<%= yield %>
</div>
<div class="navbar navbar-fixed-bottom bottom-menu bottom-menu-inverse">
	<div class="container-fluid">
		<p>Created by Ricky Zein while attending App Academy.</p>
	</div>
</div>
</body>
</html>
