<!DOCTYPE html>
<html>
<head>
  <title>Versa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="#">VERSA</a>
      <% if current_user || session[:guest_user_id] %>
			<ul class="nav">
				<li><a href="#/artists/">Artists</a></li>
				<li><a href="#/songs/">Songs</a></li>
				<li><a href="#/users/">Users</a></li>
        <% if current_user %>
        <li><%= link_to "Log Out", destroy_user_session_url, :method => :delete %></li>
        <% else %>
        <li><a href="/log_out">Log Out</a></li>
        <% end %>
      </ul>
      <% end %>
		</div>
	</div>
</div>
<div class="container-fluid" style="padding-bottom: 120px">
<% if notice || alert %>
<div class="row-fluid text-center">
  <div class="span4 offset4">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
  </div>
</div>
<% end %>
<%= yield %>
</div>
<div class="navbar navbar-fixed-bottom bottom-menu bottom-menu-inverse">
	<div class="container-fluid">
		<p>Created by Ricky Zein while attending App Academy.</p>
	</div>
</div>
</body>
</html>
